<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <!--
      Имя активной строки подключения для model01Entities.
      Для production можно переключить на model01EntitiesServer,
      либо задать переменную окружения EPSTEINSMARKET_CONNECTION_STRING.
    -->
    <add key="ActiveConnectionStringName" value="model01Entities" />
  </appSettings>

  <connectionStrings>
    <!-- Локальная база для разработки -->
    <add name="model01Entities" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=EpsteinsMarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- Пример подключения к серверной БД, при необходимости замените параметры -->
    <add name="model01EntitiesServer" connectionString="data source=localhost;initial catalog=EpsteinsMarket;integrated security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- Legacy EDMX connection (оставлена для совместимости проекта) -->
    <add name="EpsteinsMarketEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=EpsteinsMarket;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
